<%- include("partials/head.ejs") %>

<main class="login-main">
     
    <section class="login-section">
        <img src="img/name_logo.png" alt="logo" class="logo login-logo">
        <h1> <%= about %> </h1>

        <!-- Amosamos o mensaxe de erro do endpoint -->
        <% if (error) { %>
            <div class="mensaje-error">
                <%= error %>
            </div>
        <% } %>
        <!-- Ahora los datos no los enviamos con fetch, sino con <form> -> Necesitamos parsear estos datos (no json) en nuestra aplicacion-->
        <form id="login-form" action="/login" method="POST" autocomplete="off">

            <label for="emailUser">Email:</label>
            <input type="email" name="correo" id="emailUser" required>

            <label for="passwordUser">Password:</label>
            <input type="password" name="password" id="passwordUser" required>

            <button type="submit" class="button">Login</button>
            <button id="acceso" class="button">Acceso rápido</button>
        </form>
    </section>
    

    <!-- Enviando unha peticion POST con <form>
    - Express no sabe cómo leer el cuerpo de la petición POST si no tienes un middleware de parsing.

    - En el caso de un formulario HTML clásico (method="POST"), el navegador envía los datos como application/x-www-form-urlencoded por defecto.

    - Si no tienes el parser de urlencoded, req.body será undefined.
    Envía datos como `application/x-www-form-urlencoded` → necesita `express.urlencoded`.-->
</main>
<script  src="js/login.js"></script>

<%- include("partials/footer.ejs") %>