<header>
    <nav>
        <div class="integrantes">
            <span>Sebastián Andreozzi</span>
            <span>Cesar Pumacayo</span>
        </div>

        <div class="nav-img">
            <a href="/dashboard"><img src="img/name_logo.png" alt="Tiendamon" class="logo"></a>
        </div>
        
        <ul class="nav-items">
            <a href="/dashboard">
                <li>Inicio</li>
            </a>
            <a href="/consultar">
                <li>Consultar id</li>
            </a>
            <a href="/crear">
                <li>Crear</li>
            </a>
            <a href="/modificar">
                <li>Modificar</li>
            </a>
            <a href="/eliminar">
                <li>Eliminar</li>
            </a>
        </ul>

