<header>
    <nav>
        <div class="integrantes">
            <span>Sebastián Andreozzi</span>
            <span>Cesar Pumacayo</span>
        </div>

        <div class="nav-img">
            <a href="/dashboard"><img src="img/name_logo.png" alt="Tiendamon" class="logo"></a>
        </div>
        
        <ul class="nav-items">
            <li><a href="/dashboard">Inicio</a></li>
            <li><a href="/consultar">Consultar id</a></li>
            <li><a href="/crear">Crear</a></li>
            <li><a href="/modificar">Modificar</a></li>
            <li><a href="/eliminar">Eliminar</a></li>
        </ul>

