<header>
    <nav>
        <div class="nav-img">
            <a href="/index"><img src="img/name_logo.png" alt="Tiendamon"></a>
            <img src="https://cdn-icons-png.freepik.com/512/6492/6492414.png?ga=GA1.1.688784487.1764257544" alt="carrito" class="img-carrito" id="carrito">
        </div>
        
        <ul>
            <a href="/index">
                <li>Inicio</li>
            </a>
            <a href="/consultar">
                <li>Consultar id</li>
            </a>
            <a href="/crear">
                <li>Crear</li>
            </a>
            <a href="/modificar">
                <li>Modificar</li>
            </a>
            <a href="/eliminar">
                <li>Eliminar</li>
            </a>
        </ul>

