    </nav>
    <!-- Creamos el boton para destruir la sesion y desloguearse-->
    <form action="/logout" method="POST" id="logout">
        <button type="submit" class="button">Cerrar sesion</button>
    </form>
</header>  