    </nav>
    <!-- Creamos el boton para destruir la sesion y desloguearse-->
    <form action="/logout" method="POST" id="logout">
        <input type="submit" value="Cerrar sesion">
    </form>
</header>  